.header-logo-container {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 14px;
    height: var(--header-height);
    width: var(--header-logo-width);
}