@import "../../../HeaderVariable.scss";

.nav-item {
    cursor: pointer;
}

@media screen and (max-width: $screen-break-point){
    .nav-item {
        position: relative;
        padding: 24px 0;
        &:active {
            background-color: var(--active-color);
            .nav-link {
                color: var(--secondary-text);
            }
        }
    }
}