@import "../HeaderVariable.scss";

nav.navbar-menu {
    display: flex;
    flex-grow: 1;
    background-color: inherit;
    align-items: center;
}

@media screen and (max-width: $screen-break-point){
    nav.navbar-menu {
        display: block;
        margin-top: var(--header-height);
        opacity: 0;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out, opacity 0.3s;
    }

    input#navbar-toggle:checked ~ nav.navbar-menu {
        opacity: 1;
        transform: scale(1);
    }
}